*{
	margin:auto;
}


body{
	background-color: pink;
	font-family:Trebuchet MS, sans-serif;
}

table{
	color:white;
	background-color: Gray;
}

header{
	color: white;
	font-size: 24pt;
}

button{
	text-align:center;
}

.header-bg{
	position:fixed;
	top:0px;
	left:0;
	background:red;
	width:100%;
	height:5%;
	text-align: center;
	text-top:100px;
}

nav{
	color:white;
	font-size:24pt;
	position:fixed;
	left:0;
	top:15%;
	width:15%;
	background-color:red;
	font-size: 16pt;
	text-align: center;
}

nav.rules{
	top:12%;
	width:15%;
}

nav.play{
	top:12%;
	width:15%;
}

a{
	text-decoration:none;
}

td{
	text-align:center;
	background-color:#A52A2A;
	width:80px;
	height:80px;
	
}

.emptySquare{
	background-color:#FAEBD7;
}



div.board{
	color: #a52a2a; 
  font-size: 20pt; 
  font-weight: normal; 
  margin-top: 5%;
  
}

table.board{
}

img.kitty{
	display:block;
	margin: 0 auto;
	margin-top:110px;
}

div.rules{
	text-align:center;
	width:80%;
	margin-top:15%;
	margin-left:15%;
	color: #a52a2a; 
	font-size: 20pt; 
	font-weight: normal; 
}

.bottomText{
	text-align:center;
	margin-bottom:0;
	font-size:24pt;
}

p.black-piece{
	width:20px;
	height:20px;
	padding:15px;
	margin-left:15px;
	background-color:black;
	border:1 px solid white;
	border-radius:50px;
}

p.white-piece{
	width:20px;
	height:20px;
	padding:12px;
	margin-left:15px;
	background-color:#F8F8FF;
	border:1px solid black;
	border-radius:50px;
}

.king.black-piece{
	background-color:#2F4F4F;
}

.king.white-piece{
	background-color:#8FBC8F;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

.desktop {
    margin: 0;
    width: 100%;
}

.white-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

.black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}


.chat {
	float: left;
	position: relative;
	border:1px solid #333;
	margin-top:10%;
	margin-left:0px;
	width:10%;
	height:100%;
	background:#555;
	color:#fff;
}

.chat-messages {
	min-height:93%;
	max-height:93%;
	overflow:auto;
}

.chat-messages__content {
	padding:1px;
}

.chat__message {
	border-left:3px solid #333;
	margin-top:2px;
	padding:2px;
}

.chat__message_black {
	border-color:#000;
}

.chat__message_blue {
	border-color:blue;
}

.chat__message_green {
	border-color:green;
}

.chat__message_red {
	border-color:red;
}

.chat-input {
	min-height:6%;
}

input {
	font-family:arial;
	font-size:16px;
	vertical-align:middle;
	background:#333;
	color:#fff;
	border:0;
	display:inline-block;
	margin:1px;
	height:30px;
}

.chat-form__input {
	width:79%;
}

.chat-form__submit {
	width:18%;
}

.log{
	float: right;
	position: relative;
	border:1px solid #333;
	margin-top:10%;
	right:0;
	width:11%;
	height:300px;
	background:#555;
	color:#fff;
}
.log-info{
	min-height:93%;
	max-height:93%;
	overflow:auto;
}
.log-info__content{
	padding:1px;
}
/.log__message{
	border-left:3px solid #333;
	margin-top:2px;
	padding:2px;
}
