* {
    margin: auto;
}


body {
    background-color: pink;
    font-family: Trebuchet MS, sans-serif;
}

button {
	margin:auto;
    font-size: 1rem;
    padding: .9rem;
    background: red;
    border: .1rem solid black;
}

.buttons{
	margin-left:41%;
	margin-top:1%;
}

button:active {
    color: unset;
    background: rgb(45, 74, 206);
}

table {
    color: white;
    background-color: Gray;
}

header {
    color: white;
    font-size: 24pt;
}

.header-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    width: 100%;
    height: 5%;
    text-align: center;
}

nav {
    color: white;
    font-size: 16pt;
    position: fixed;
    left: 0;
    top: 15%;
    width: 15%;
    background-color: red;
    text-align: center;
}

nav.rules {
    top: 12%;
    width: 15%;
}

nav.play {
    top: 12%;
    width: 15%;
}

a {
    text-decoration: none;
}

div.board {
    color: #a52a2a;
    font-size: 20pt;
    font-weight: normal;
    margin-top: 5%;
}


img.kitty {
    display: block;
    margin: 110px auto 0;
}

div.rules {
    text-align: center;
    width: 80%;
    margin-top: 15%;
    margin-left: 15%;
    color: #a52a2a;
    font-size: 20pt;
    font-weight: normal;
}

.bottomText {
    text-align: center;
    margin-bottom: 0;
    font-size: 24pt;
}

.emptySpace {
    background-color: #FAEBD7;
}

td {
    text-align: center;
    background-color: #A52A2A;
    width: 80px;
    height: 80px;
}

.turn{
    text-align: center;
	font-size:24pt;
	color:#A52A2A;
}

p {
    display: inline-block;
}

.log {
    float: right;
    position: absolute;
    border: 1px solid #333;
    margin-top: 10%;
    right: 0;
    width: 11%;
    height: 300px;
    background: #555;
    color: #fff;
}

.log-info {
    min-height: 93%;
    max-height: 93%;
    overflow: auto;
}

.log-info__content {
    padding: 1px;
}

.log__message {
    border-left: 3px solid #333;
    margin-top: 2px;
    padding: 2px;
}


.board {
    border-collapse: collapse;
    border: none;
    margin-left: auto;
}

.board td {
    height: calc(min(8vh, 8vw));
    width: calc(min(8vh, 8vw));
    padding: 0;
    background-color: gray;
    text-align: center;
    border: 2px solid black;
}

.board th{
	height: calc(min(3vh, 3vw));
    width: calc(min(3vh, 3vw));
    padding: 0;
    background-color: gray;
    text-align: center;
    border: 2px solid black;
}

.board tr:nth-child(even) td:nth-child(odd),
.board tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(182,0,0);
}

.board tr:nth-child(even) td:nth-child(even),
.board tr:nth-child(odd) td:nth-child(odd) {
    background-color: rgb(255, 149, 149);
}

.board img {
    height: 75%;
    width: 75%;
    vertical-align: middle;
}

.board .prompt {
    background: yellow !important;
}

.board .can-be-filled {
    background: green !important;
}

.board .must-be-filled {
    background: red !important;
}
